.On {
    background-color: green;
    
}
.Off {
    background-color: red;
}
html, 
body {
    height: 100% !important;
    position: relative;
}
.login-form {
    min-width: 50px;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem
}